body {
  background: #ffffff;
  color: #222;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

article {
  margin: 0 0 40px 0;
}

.main {
  width: 60em;
  max-width: 100%;
  margin: auto;
  p {
    font-size: 1.2em;
  }
}

.main-header {
  margin-bottom: 50px;
  border-bottom: 1px dashed #ccc;
}

.logo {
  text-align: center;
}